!!!
%html
  %head
    %meta{:content => "text/html; charset=UTF-8", "http-equiv" => "Content-Type"}/
    %title FLASHH MOB
    = stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload'

  %body
    .wrapper
      .events

        .event.justify
          .event__practice-day.event__info .practice__day__11/30(土)
          .event__day.event__info  .event__day__12/8(土)
          .event__city.event__info .place__福岡市博多区千代
        
        .event.justify
          .event__practice-day.event__info .practice__day__11/30(土)
          .event__day.event__info  .event__day__12/8(土)
          .event__city.event__info .place__福岡市博多区千代
        
        .event.justify
          .event__practice-day.event__info .practice__day__11/30(土)
          .event__day.event__info  .event__day__12/8(土)
          .event__city.event__info .place__福岡市博多区千代

        .event.justify
          .event__practice-day.event__info .practice__day__11/30(土)
          .event__day.event__info  .event__day__12/8(土)
          .event__city.event__info .place__福岡市博多区千代

        .event.justify
          .event__practice-day.event__info .practice__day__11/30(土)
          .event__day.event__info  .event__day__12/8(土)
          .event__city.event__info .place__福岡市博多区千代

        .event.justify
          .event__practice-day.event__info .practice__day__11/30(土)
          .event__day.event__info  .event__day__12/8(土)
          .event__city.event__info .place__福岡市博多区千代

        .event.justify
          .event__practice-day.event__info .practice__day__11/30(土)
          .event__day.event__info  .event__day__12/8(土)
          .event__city.event__info .place__福岡市博多区千代
       